<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp70638F91F4F35E813A90B25A26D26929" Guid="{D40E2AF1-77B7-409C-A1BF-9EFC77089D2E}">
                <File Id="filA2440C5378C576FA33DD2A702C313F38" KeyPath="yes" Source="$(var.BasePath)\clef.deps.json" />
            </Component>
            <Component Id="cmpC8867EDC3F50D2FC9F4D26300AE82758" Guid="{23035D06-06A2-4B74-99C1-946C55C61603}">
                <File Id="fil65CF4FFCE200B4170B324CC0372DB3FA" KeyPath="yes" Source="$(var.BasePath)\clef.dll" />
            </Component>
            <Component Id="cmpC1386E8707B9D95621DE8160997F07A9" Guid="{3540E795-05FD-4480-94D3-41003CD0792C}">
                <File Id="fil0568BA24785069B42212E75D2DD9D985" KeyPath="yes" Source="$(var.BasePath)\clef.exe" />
            </Component>
            <Component Id="cmp4E239112FBCC33C3CAD5B1C2AC0CDED8" Guid="{A98D1CC5-1E25-4FF8-BE45-BD31BFDE61FC}">
                <File Id="fil5E0AD520F0736DAAA5F94471EC78D810" KeyPath="yes" Source="$(var.BasePath)\clef.pdb" />
            </Component>
            <Component Id="cmp0E8F8DDC428D01962C25AC657AD6DF73" Guid="{29E63AC8-46D3-4447-88EB-77CE462DA65D}">
                <File Id="filD411439D6092C111E0DC115210BA24D7" KeyPath="yes" Source="$(var.BasePath)\clef.runtimeconfig.json" />
            </Component>
            <Component Id="cmp2E5EDA8D72F327AFF452AE2FE00CEA69" Guid="{BC01EC47-1A5C-4EC5-8CA0-F8DFE2CB385F}">
                <File Id="fil0AC151BF3F546CFD05E806D12E6A5768" KeyPath="yes" Source="$(var.BasePath)\clrcompression.dll" />
            </Component>
            <Component Id="cmp4FD0997C338542D825893A7B99BCB1EF" Guid="{4D9FE5A3-7011-464F-9220-888F33C9A119}">
                <File Id="fil10B00363CA29492EFFC20B1401323297" KeyPath="yes" Source="$(var.BasePath)\clretwrc.dll" />
            </Component>
            <Component Id="cmp170DFF239B610B0ACA2229119DEA678E" Guid="{9B4ECC12-FBC5-4EDA-A960-98C62227EBE8}">
                <File Id="filE90347B97ED4AE7124A57EB903AE43EE" KeyPath="yes" Source="$(var.BasePath)\clrjit.dll" />
            </Component>
            <Component Id="cmp1FAC008E6AA14459AD5390EB28F23EFE" Guid="{ABE95055-EF26-4594-9B43-52B3209BEEC8}">
                <File Id="filDCDD15F7F6F6F4476AD67EA901580BA2" KeyPath="yes" Source="$(var.BasePath)\coreclr.dll" />
            </Component>
            <Component Id="cmp251F3C643C5691E86A5D072E1A9CB4F7" Guid="{317115D4-3A02-4D26-BCD1-FAD8D622C42A}">
                <File Id="fil2F5197D67BAD1C03561688B02178A3F2" KeyPath="yes" Source="$(var.BasePath)\Datalust.ClefTool.deps.json" />
            </Component>
            <Component Id="cmp4912FC7CACD4FEC1072A2E793CBA75DF" Guid="{79CDD741-27FE-4079-B79B-A21C847EC4A6}">
                <File Id="fil9CEFA3A911AB06C4DE688BEBA1128276" KeyPath="yes" Source="$(var.BasePath)\Datalust.ClefTool.dll" />
            </Component>
            <Component Id="cmpE08211C0C3557F7BA2754EFD53C95757" Guid="{CA250F72-E24B-422E-A717-9855C7C420D5}">
                <File Id="filCF26E7015752F9B8ECC64A0EA45F508D" KeyPath="yes" Source="$(var.BasePath)\Datalust.ClefTool.exe" />
            </Component>
            <Component Id="cmpDC1F4F026BC618F3C7706525B3D1B174" Guid="{792DA68B-3660-4453-A209-8FC5D24B9AB4}">
                <File Id="fil5943DE788EEA6415BC8D19EDEE9A3BCB" KeyPath="yes" Source="$(var.BasePath)\Datalust.ClefTool.pdb" />
            </Component>
            <Component Id="cmp5B5F7D490526C3CB3FF5E84E37B1F3EA" Guid="{6CE6F16A-7147-4F85-B09A-57474D219BDB}">
                <File Id="filF6D74F30EA1721BD480AFA5B8BDA19B4" KeyPath="yes" Source="$(var.BasePath)\Datalust.ClefTool.runtimeconfig.json" />
            </Component>
            <Component Id="cmp5DC61834042D8A563B1B0F5CEE7AD1E7" Guid="{66F80E2E-0F46-4B95-BDEA-72DCEDC603B7}">
                <File Id="filE07135178784FB8052BC2470B2BD2D1F" KeyPath="yes" Source="$(var.BasePath)\dbgshim.dll" />
            </Component>
            <Component Id="cmpD51C7DCAA0760E3A269231CFA7A989BF" Guid="{BB619062-78E3-4A4F-91F1-94CE82F4DD50}">
                <File Id="fil85A6359F27FC15BF6766873998D82972" KeyPath="yes" Source="$(var.BasePath)\hostfxr.dll" />
            </Component>
            <Component Id="cmp2257790539B8870843640B5857727F5B" Guid="{DAE09970-2608-4C3B-A5E4-01D19423EBDA}">
                <File Id="filA82C6852012979D774CE6FA0C9E849DD" KeyPath="yes" Source="$(var.BasePath)\hostpolicy.dll" />
            </Component>
            <Component Id="cmpD59A9DA5AB1588BFB3303C78F4AE7978" Guid="{6CCECDAA-E9E2-418B-B83C-7398B42B1914}">
                <File Id="fil0906E6B3D2671DCF5CB2E8B7874DC51A" KeyPath="yes" Source="$(var.BasePath)\libuv.dll" />
            </Component>
            <Component Id="cmp036A680CF94E7627338001F023402FC5" Guid="{6319D5A5-AA35-4787-A25D-BD7B7B4CC4FF}">
                <File Id="filF343B9BE9F35AB3EFA290E974129327B" KeyPath="yes" Source="$(var.BasePath)\Microsoft.CodeAnalysis.CSharp.dll" />
            </Component>
            <Component Id="cmpC721F41377E85E493F0DF0733B2DF311" Guid="{907E1999-020F-441F-9068-9335602D8A7D}">
                <File Id="filC3BC362F988527D89F828BB4F6BC62E0" KeyPath="yes" Source="$(var.BasePath)\Microsoft.CodeAnalysis.dll" />
            </Component>
            <Component Id="cmpB96729A5724A90B66C8B647AD4A828BD" Guid="{5214CEB8-C2DB-4241-88CF-783F6C946A90}">
                <File Id="fil534AC3A03599CF3DA6BA4B8B767C4C67" KeyPath="yes" Source="$(var.BasePath)\Microsoft.CodeAnalysis.VisualBasic.dll" />
            </Component>
            <Component Id="cmpC9CE6FD0F9E9DFB943DBB4F09D32F05A" Guid="{3BCC36B5-27F0-4D3B-9662-709002BB090D}">
                <File Id="fil4AA0A6933C86860B14DECBAECD718A4D" KeyPath="yes" Source="$(var.BasePath)\Microsoft.CSharp.dll" />
            </Component>
            <Component Id="cmp4B6065E0A17CF05299642017B84D7228" Guid="{564E61EC-BC70-4AB1-A468-2C518B7A2626}">
                <File Id="fil6ED4FB0A9DFCCEAB87945F3165986368" KeyPath="yes" Source="$(var.BasePath)\Microsoft.DiaSymReader.Native.amd64.dll" />
            </Component>
            <Component Id="cmp31C9A362EFEB77E9A39782026B90E97C" Guid="{6A462550-6254-4080-87E5-689202154727}">
                <File Id="filA562EB74A7C370A466F650D6C6CF3B1D" KeyPath="yes" Source="$(var.BasePath)\Microsoft.VisualBasic.dll" />
            </Component>
            <Component Id="cmpC089979D7EDD0520871FCF59E4512F6A" Guid="{52500AB1-629E-4385-8984-9BD9CE1D1CE1}">
                <File Id="fil69885EF287CDAEE15C09BE435AEC1160" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Win32.Primitives.dll" />
            </Component>
            <Component Id="cmp3E4F3E4686A9B425B5812E5171CCDEEF" Guid="{CEE2E457-138A-4526-8015-FDD9D74F2C01}">
                <File Id="fil24DC60A8CFEFE326A0444D71C66806C1" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Win32.Registry.dll" />
            </Component>
            <Component Id="cmpE35DDB3C925C83E74C7DAAE6FEA6C156" Guid="{BCE60952-F069-4A2A-AC62-F81AB55088C2}">
                <File Id="filEAEAE1CB9E8AC1FF00B05453ABEE2ADF" KeyPath="yes" Source="$(var.BasePath)\mscordaccore.dll" />
            </Component>
            <Component Id="cmpA5ABEAD31F33B1E5825EC6F159ABFB0F" Guid="{47CE7FF8-187E-43CF-B5C7-25879F78870E}">
                <File Id="fil1A6B0EBD5A5BF8DD0582A2665D3492F1" KeyPath="yes" Source="$(var.BasePath)\mscordbi.dll" />
            </Component>
            <Component Id="cmp5D6845991403E371A015DF7EBDF71F13" Guid="{458F879C-A3BC-4A77-A163-D66A2449CBE2}">
                <File Id="fil19173CC3BDE452DE5D884F05D5F6F8A1" KeyPath="yes" Source="$(var.BasePath)\mscorlib.dll" />
            </Component>
            <Component Id="cmp034C19296CB15C9E75585B5C7694FB81" Guid="{403A6CBE-75DA-4DE5-A608-8F4E12078260}">
                <File Id="filD5E539849B2B3335591CB4A45EC42DFF" KeyPath="yes" Source="$(var.BasePath)\mscorlib.ni.dll" />
            </Component>
            <Component Id="cmpF9CF939A2A6923752CD1F985F06B6D81" Guid="{A578B759-24AD-4301-8859-4380AD346857}">
                <File Id="fil5490F6A54CA521132AA21176A043F6BA" KeyPath="yes" Source="$(var.BasePath)\mscorrc.debug.dll" />
            </Component>
            <Component Id="cmp57B8361D25AD503DC733F4039E5A38B0" Guid="{B8D8A68D-ED11-4CA3-B4E6-8A1188C9F3DF}">
                <File Id="fil85A18A68043DF7CE61683156FF7F660F" KeyPath="yes" Source="$(var.BasePath)\mscorrc.dll" />
            </Component>
            <Component Id="cmpE3D9410289E9F7FB833911D3E408B041" Guid="{157D6217-FB9F-4311-A3C6-6F8AA35E7A6E}">
                <File Id="filA7199EA95C46C896D8F75583D8FD0055" KeyPath="yes" Source="$(var.BasePath)\sos.dll" />
            </Component>
            <Component Id="cmp0F4FB01D3F5DDA4FB3BEF239A8206721" Guid="{30BC076A-F7FD-42DD-9EA1-3A0D0756E6A0}">
                <File Id="filC306C591928100A3766F3E2FF4324E72" KeyPath="yes" Source="$(var.BasePath)\SOS.NETCore.dll" />
            </Component>
            <Component Id="cmp5BF82A49794EF8CA80B3603A0E77FC35" Guid="{3DF7DA88-8240-409D-B2AA-49A8CE9FCDD3}">
                <File Id="filAFD0CC30CB2E6DD52C314025EFBB3EF7" KeyPath="yes" Source="$(var.BasePath)\System.AppContext.dll" />
            </Component>
            <Component Id="cmpA748C45814948C0E47F0962CF5A9E2C5" Guid="{734EB2F2-E638-48E5-A1FC-96DA11A23347}">
                <File Id="filAF63FF48A59E0E5E7F49BFD1CBBB0CC3" KeyPath="yes" Source="$(var.BasePath)\System.Buffers.dll" />
            </Component>
            <Component Id="cmp602E8F2B93FE6578A846F762EC68A1D9" Guid="{13450774-DEE6-4F81-A06C-62DB554D305F}">
                <File Id="fil8A8EC4001DD8F96250E301ED6A1E3783" KeyPath="yes" Source="$(var.BasePath)\System.Collections.Concurrent.dll" />
            </Component>
            <Component Id="cmp3DA1940FB9C385E5772FD6B27D952566" Guid="{A5CC87C0-9F34-4712-9CC4-607C25161A82}">
                <File Id="fil61FB0EF6F8353D5D25E080C4B6E602C0" KeyPath="yes" Source="$(var.BasePath)\System.Collections.dll" />
            </Component>
            <Component Id="cmp969F6EDF2594F3809D7A716387BF8894" Guid="{A06513D5-29F3-4F0D-9CB0-6F67B7F9FC0F}">
                <File Id="fil60E3CB228DB7CBE488269EDFC1321CC6" KeyPath="yes" Source="$(var.BasePath)\System.Collections.Immutable.dll" />
            </Component>
            <Component Id="cmp86FA15ED6758AB64222C7B872722AE2A" Guid="{7DCD0B09-0002-4F60-A31D-2DD1A2263BF7}">
                <File Id="fil4462620259C842921061439D47904D07" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.Annotations.dll" />
            </Component>
            <Component Id="cmp912EE5CA7F0C138422055A3D0C240C38" Guid="{E5EFD389-E92C-4FB9-94CD-FC77EBD26A24}">
                <File Id="fil8084AE81753074831DC96EB13423F40D" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.dll" />
            </Component>
            <Component Id="cmp1A01EFD00F1DAF10CE06F8196357F24C" Guid="{E1F9DC84-6582-4B9D-AEFF-53A312FFF644}">
                <File Id="fil08A6ABF18A6A31D6C7924DD13873F17E" KeyPath="yes" Source="$(var.BasePath)\System.Console.dll" />
            </Component>
            <Component Id="cmp16EF400B22B4D8375CD56E7168F49BBB" Guid="{BDCD9663-C071-4044-A099-D22C98C8570F}">
                <File Id="filC5A135B91631EDD63E03635FE5DB1528" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Debug.dll" />
            </Component>
            <Component Id="cmpE722E076AB8486E4A4F24B01268787A2" Guid="{ACDC7041-67C5-4299-B937-39A890F74221}">
                <File Id="fil92FE767CE7126933F4E9DEEEBAAE9354" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.DiagnosticSource.dll" />
            </Component>
            <Component Id="cmp7E39F1A13DA5F3678F3102B85106204A" Guid="{E4FAAFCA-8460-4D78-B434-E3774E3A5113}">
                <File Id="filE669E7EEC097516D4E9BE57F87820A6F" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.FileVersionInfo.dll" />
            </Component>
            <Component Id="cmpD23621427F9427EADECDFB75824E8F4E" Guid="{5568AB0B-2371-40DE-B949-140866683E48}">
                <File Id="filA2202346FF26F0ADE22443C43E9EA3EA" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Process.dll" />
            </Component>
            <Component Id="cmpB3E27F13800A8FF984F132723F98897C" Guid="{FA101637-7C9E-46AE-BE15-6E5D472E6B37}">
                <File Id="filDBF3A4F1AEA58FEDB0007DD546ADD630" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.StackTrace.dll" />
            </Component>
            <Component Id="cmp167D1C5C6A974604FBBFEDD39E2FDF84" Guid="{48BBB444-E5A1-40BD-9313-18AEFDE8BFED}">
                <File Id="fil589087C30E15FFAD786A80C79F228C31" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Tools.dll" />
            </Component>
            <Component Id="cmp804ACD73DC5E4AF51ACF260299491EAE" Guid="{6F125CBD-7AAA-4175-A57B-6D8D0EDC7026}">
                <File Id="filE457FA9EC2AE98FDC3C82D976418C363" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Tracing.dll" />
            </Component>
            <Component Id="cmpA142100C3F0BB7810ABB24189CCE1D0D" Guid="{ED297422-269B-4054-864F-A719668CFA95}">
                <File Id="filC724FD793DE9BFA79CD7FB6C9ADD74B0" KeyPath="yes" Source="$(var.BasePath)\System.Dynamic.Runtime.dll" />
            </Component>
            <Component Id="cmpF2CFC77F0487C42E6C597124620175D0" Guid="{4164A9D0-D85D-4844-AF0F-C831D0D63C80}">
                <File Id="filB1DA3C706CDD3EB9DD5FAEE10E17A1EC" KeyPath="yes" Source="$(var.BasePath)\System.Globalization.Calendars.dll" />
            </Component>
            <Component Id="cmp38992D30F99BD043E10383498A731822" Guid="{D9FB6FBE-8518-46AD-8D44-46C90AB1DD49}">
                <File Id="fil302011DAA4997DB8B141168A984D0E89" KeyPath="yes" Source="$(var.BasePath)\System.Globalization.dll" />
            </Component>
            <Component Id="cmp2ECBD4EE80FB56B111EAB04A7922F75E" Guid="{0C57EB30-BC4F-4BBA-8136-5A2A14B0006A}">
                <File Id="filBCE4D84B0CA5B233C74110483CAD4D62" KeyPath="yes" Source="$(var.BasePath)\System.Globalization.Extensions.dll" />
            </Component>
            <Component Id="cmpC8D343DED6ECA227B78780388C7AA77C" Guid="{410527D8-06CA-4AE2-B9C7-C908A05E225B}">
                <File Id="fil8C21BB6ED9A67550B3F3EE8EF35E5A89" KeyPath="yes" Source="$(var.BasePath)\System.IO.Compression.dll" />
            </Component>
            <Component Id="cmpD40621D43FCB57C24FE91D5292CDCA60" Guid="{E1FEEDBF-9939-4E2F-9E5E-CAB56EF2A9DD}">
                <File Id="fil58D577100F63265F0448602DFD48190C" KeyPath="yes" Source="$(var.BasePath)\System.IO.Compression.ZipFile.dll" />
            </Component>
            <Component Id="cmp06E205989506C503C7B11F6FE4B449C6" Guid="{407449C4-3C2C-4133-B483-989B11A22935}">
                <File Id="fil1585A04883FF89B289FC2454E8EDC783" KeyPath="yes" Source="$(var.BasePath)\System.IO.dll" />
            </Component>
            <Component Id="cmp2BF489548413875B5E6C82837FCD954F" Guid="{AB9AA588-3562-4E4D-A339-38C225307CAC}">
                <File Id="filB910A291C5575D86F028725A2C33BF2D" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.dll" />
            </Component>
            <Component Id="cmpC96839737F0D0575D352C1AE13A73E26" Guid="{BFE11D8F-8F2D-4506-AF5C-EA86AB8590A4}">
                <File Id="fil02F9A4228ADE0C77AF34898B47FD1723" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.Primitives.dll" />
            </Component>
            <Component Id="cmp43533F1C6D869598C6A682154C94696E" Guid="{A36D87CD-0EE4-4BEC-B944-CF0551B9C73C}">
                <File Id="filBF4695E38CC21BF49BBCA04E77D36710" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.Watcher.dll" />
            </Component>
            <Component Id="cmp27E36B7C8DB5461A9579366D20E5DD16" Guid="{AEB503E1-9154-4081-93C6-84B3613EE12A}">
                <File Id="fil7F43DE255F0B70BD8014CC9F0611E6A9" KeyPath="yes" Source="$(var.BasePath)\System.IO.MemoryMappedFiles.dll" />
            </Component>
            <Component Id="cmp5338A7F671CC8A6B5D8355578A8A889A" Guid="{2FE6F91C-8C96-45F8-AA95-68FAFAA1D5DE}">
                <File Id="filA25C390E7FAA5E8406CA4A02BBBCC33A" KeyPath="yes" Source="$(var.BasePath)\System.IO.UnmanagedMemoryStream.dll" />
            </Component>
            <Component Id="cmpC0FA693A1C79F59FC93C10CFD37D42F2" Guid="{91C31FF0-C5CE-46BD-91D6-5FE21E81760B}">
                <File Id="fil598A363D5498D9DDBAFE6880F82F75CA" KeyPath="yes" Source="$(var.BasePath)\System.Linq.dll" />
            </Component>
            <Component Id="cmpE2761380A2AA89636D5B95A135451B7F" Guid="{42215A50-7CA6-43F1-920A-85993C707143}">
                <File Id="fil33155AE23C9BC1A3E340E9A8ABDE1D42" KeyPath="yes" Source="$(var.BasePath)\System.Linq.Expressions.dll" />
            </Component>
            <Component Id="cmp1C1E90C62AB1B0C4B75A0C8670A93BF5" Guid="{954DA96A-5C16-4609-BA6E-B50B05D0C1FF}">
                <File Id="fil3F3DFA5907492425703385E53974B104" KeyPath="yes" Source="$(var.BasePath)\System.Linq.Parallel.dll" />
            </Component>
            <Component Id="cmpA89B897A857FCF03B6B2373DF3AC3D44" Guid="{1A37DC51-3FFA-4984-9893-532C0F528462}">
                <File Id="fil7169F7E92FBFDB99FD71D763F2E780C7" KeyPath="yes" Source="$(var.BasePath)\System.Linq.Queryable.dll" />
            </Component>
            <Component Id="cmpBA5ABAFBBC1B2CC2232B3287ABE89965" Guid="{A26A29A5-D1AA-4357-82A3-8F1356BD88C9}">
                <File Id="fil7D48B04FDEE4653060C375A94010A762" KeyPath="yes" Source="$(var.BasePath)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp8487DBCD10F6EA164525782F92DE4F4F" Guid="{EA7F362F-3844-4C66-B67A-2412701FCD39}">
                <File Id="fil69D9F4812C174BFB653C73FDA9A444E0" KeyPath="yes" Source="$(var.BasePath)\System.Net.NameResolution.dll" />
            </Component>
            <Component Id="cmp7F3C257977DAD545E41C24AEEBA5F3D7" Guid="{2DA6F75E-9366-4498-BF35-39AC3AF22FAF}">
                <File Id="fil9E23EE919E61291572A9E7A02358BE0B" KeyPath="yes" Source="$(var.BasePath)\System.Net.Primitives.dll" />
            </Component>
            <Component Id="cmp1F98307E0E8546CD03283A275A109E29" Guid="{F29AB17A-3DA3-44DA-8940-A0CD5B1E1071}">
                <File Id="filABF76F5E8887AC62C808D141EEE7F90D" KeyPath="yes" Source="$(var.BasePath)\System.Net.Requests.dll" />
            </Component>
            <Component Id="cmp661DE9832C6188B3A05455224EB65C4A" Guid="{0D3FC7D3-45F0-4A7B-874F-D00EA8DF287A}">
                <File Id="fil1D7AB309A4579D55C17E387F8DFFAE30" KeyPath="yes" Source="$(var.BasePath)\System.Net.Security.dll" />
            </Component>
            <Component Id="cmp35FB771C91E6D09AC7AD31EA6BD82D48" Guid="{DA84FA9B-8269-4AC2-8DC3-2A625DB87080}">
                <File Id="fil823B0C5D79C138C9B43DE503AE851AF3" KeyPath="yes" Source="$(var.BasePath)\System.Net.Sockets.dll" />
            </Component>
            <Component Id="cmpBD3081A75FFFB18E0F831CA90BB02A51" Guid="{5E1C185C-58C4-4380-A4E4-5B870BE408EA}">
                <File Id="fil56CADEAFFCFAFECB7B1BDB9CFD8987F1" KeyPath="yes" Source="$(var.BasePath)\System.Net.WebHeaderCollection.dll" />
            </Component>
            <Component Id="cmp89AE5ECEB789ECF60BE6CC568D60B2F9" Guid="{C93F5CC4-E8FE-4E1F-B5B8-CDC2ED5FF3F2}">
                <File Id="fil07CC506FCE6F39AF87379627460A5FFB" KeyPath="yes" Source="$(var.BasePath)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmpF02258D9C1CDC79ADE6BED7D7E27B7F8" Guid="{92927E9C-6E90-49A5-BFA6-BB6093E59542}">
                <File Id="fil9A7CC4FBC706133927299AE792CF930C" KeyPath="yes" Source="$(var.BasePath)\System.ObjectModel.dll" />
            </Component>
            <Component Id="cmp2DB01C2F4195AA81E62D885F63BE7641" Guid="{2E580806-E043-43FD-8365-47C816D3BF3C}">
                <File Id="fil5F20267552D2080D363590717A478A65" KeyPath="yes" Source="$(var.BasePath)\System.Private.CoreLib.dll" />
            </Component>
            <Component Id="cmp08F6C131D7E7D6B4B3C1C34ACAB7D015" Guid="{B68E0977-809F-4BB3-B9CE-F6C8B27A6523}">
                <File Id="fil9D87B43FCBC0557C8F59E5743CFDA8D5" KeyPath="yes" Source="$(var.BasePath)\System.Private.CoreLib.ni.dll" />
            </Component>
            <Component Id="cmp1BF66780B6F5DC544844F175D2217D45" Guid="{C66CCC9A-9BF9-490D-8995-189FA4CD2F54}">
                <File Id="fil61B45F4CB4B92624343A3825909B2603" KeyPath="yes" Source="$(var.BasePath)\System.Private.Uri.dll" />
            </Component>
            <Component Id="cmpD96EF0310A9F4CDC867A29C92627C66F" Guid="{E7D00112-D3C3-4C07-A21A-58A51B6BC394}">
                <File Id="fil00885DA9E6C4C6258656E6A6E9AF6900" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.DispatchProxy.dll" />
            </Component>
            <Component Id="cmpA232CC5CBB9F7FC0C83CBF6E9889AEA2" Guid="{867E173E-3134-4DED-AF14-ABFE68F997A0}">
                <File Id="filA974C5A92C285D01E798C45F066066E6" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.dll" />
            </Component>
            <Component Id="cmpB04DC6BD037C409C2E1ACEF4893EF6E0" Guid="{6EA0D805-65A1-41DD-A371-428E302147AA}">
                <File Id="fil95A0627F4D1FCB03CAA781B38C9913E8" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.Emit.dll" />
            </Component>
            <Component Id="cmp1BA496B8D1F481E17E4F9777D97E83A3" Guid="{CCD5022D-D3B7-4314-B4EC-EFE9D4B788F7}">
                <File Id="fil206530E7FF9234ED40038107D8CF0C52" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.Emit.ILGeneration.dll" />
            </Component>
            <Component Id="cmpE704E6B7F4208E4FA240D82240CB87CB" Guid="{E370F5B6-B8F7-4DD2-9DB2-8CD75E1695D4}">
                <File Id="fil9688DF0AEBCA099B83BD29AE45557399" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.Emit.Lightweight.dll" />
            </Component>
            <Component Id="cmpBBE9705F8359FDCA711FD64D14D92D29" Guid="{7BBBA2CF-CBF4-4D6F-984D-D1CB4F11D18D}">
                <File Id="filBF34301359DFDB004DA5653ADCF77EA8" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.Extensions.dll" />
            </Component>
            <Component Id="cmp2FF83375B57E90E070D5274FE375C377" Guid="{7343C94D-A951-44A1-AD82-A2B4D51E4F85}">
                <File Id="fil91EF703BE463A4F6D596BD34EF59864F" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.Metadata.dll" />
            </Component>
            <Component Id="cmp673F5FD19E1447A9E9517732D5099C50" Guid="{F258BDEC-20E7-4FDB-B15A-B8B8CACDD9E5}">
                <File Id="fil8C7FE5693A485A6EC5DB4F983E211310" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.Primitives.dll" />
            </Component>
            <Component Id="cmp3196328A6B461FCF95D6C3A5A44720F2" Guid="{83BAD372-4632-493F-A573-7784466989F3}">
                <File Id="fil6342337C40983F32057D5D6FEB7FDFFC" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.TypeExtensions.dll" />
            </Component>
            <Component Id="cmp70FC17596CC6D6081664CEA3F1370618" Guid="{D3B54D43-55A8-4CF2-B861-8E111D1F5FD2}">
                <File Id="filA1280936EE48F816F9935AC5D8CC2135" KeyPath="yes" Source="$(var.BasePath)\System.Resources.Reader.dll" />
            </Component>
            <Component Id="cmp0D6DF42F2B6440373438F26D08393D7E" Guid="{2B8A2E5A-E18F-4872-880A-2DC1ED015B01}">
                <File Id="fil0A8B8FDA1F690B6521438D46937A3A6B" KeyPath="yes" Source="$(var.BasePath)\System.Resources.ResourceManager.dll" />
            </Component>
            <Component Id="cmp5535623A0957F12A580F2E0AE9AB7F24" Guid="{3FC02994-3D18-4E9B-8886-1E774ED8BC2D}">
                <File Id="fil1F7505072F9E81ACFDD7E6910787823E" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.dll" />
            </Component>
            <Component Id="cmp1F804D02F421408F7E20267C22EA6672" Guid="{A03401A4-AC9C-4789-9BC4-948AC55F7313}">
                <File Id="fil46F95A243148C958E6F1AB4B4F561CB1" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Extensions.dll" />
            </Component>
            <Component Id="cmpC9E0DEEB7CF98154C06B2056C911EFFB" Guid="{AEBC2A5C-DCA2-4946-B151-D26102438141}">
                <File Id="fil7F78E91219FBF02ABACD6059011A3487" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Handles.dll" />
            </Component>
            <Component Id="cmpDD067213D9C6C74C7DEE2A7AAB0FAEEC" Guid="{BE6E50E8-D847-463B-B9FB-B169830DE9E7}">
                <File Id="fil853E903EAF99997C9E803CAE3ACFBF5A" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.InteropServices.dll" />
            </Component>
            <Component Id="cmp11FDD7837E3686618A8029176A611E38" Guid="{F6EBFE9D-C6D6-4DED-86CF-573A85E05DE8}">
                <File Id="fil43FDDFACC38DCF385E1070ABFC9FF8BD" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.InteropServices.RuntimeInformation.dll" />
            </Component>
            <Component Id="cmp53E46EBF44AF21F42A968A1F1DDABABF" Guid="{663EDCB2-3D04-4313-86DC-D3F8BA47BB88}">
                <File Id="fil87CFA7EACF3D6FF22EC0E4716A3E0C3D" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Loader.dll" />
            </Component>
            <Component Id="cmpCCD6C0BE895B4EC8ED6FCEECB4A871C3" Guid="{F39A7CA6-A497-4AE0-9522-906939EA102E}">
                <File Id="fil02EF2737879749E35F209C9B7DCA391D" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Numerics.dll" />
            </Component>
            <Component Id="cmp184FC0E5FAD15B9D8278A9A58F76ABE4" Guid="{9A349C7D-6A93-413D-8AFF-4E52BBE9CD40}">
                <File Id="filF9336650B5D207916A83BC080A440D23" KeyPath="yes" Source="$(var.BasePath)\System.Security.Claims.dll" />
            </Component>
            <Component Id="cmpFF30060800C65B79967082C32327291C" Guid="{DB66640C-0461-40AF-B38D-6A575943AADE}">
                <File Id="filAB211F3F0ECB04AF6C2378C73893A0C8" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Algorithms.dll" />
            </Component>
            <Component Id="cmp57EA072774F603C6027C2714CBDD71F1" Guid="{1A2E8E2D-FFE8-4CDE-96FA-918624CFFB5A}">
                <File Id="filEA9C6EF0458E2F0D8620A7A9AE239BAD" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Cng.dll" />
            </Component>
            <Component Id="cmp77638A88DFF018673C9539C4C63849F1" Guid="{A73D604C-0E59-47BC-ABB4-AAEC9E4CE569}">
                <File Id="filA76FAFC53D43269049D637292976CF51" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Csp.dll" />
            </Component>
            <Component Id="cmp29603EF04B0BDD3AB6C82CAA97838E8B" Guid="{90CB4B0E-6C26-4D56-A351-5520FD09C6F3}">
                <File Id="filED8707AB753EEF87C2288DCB64CF7A12" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Encoding.dll" />
            </Component>
            <Component Id="cmpA9787BFE4425DEDA95F9804E039493C7" Guid="{801AFD58-CC31-467D-B3F8-996EEDC6D732}">
                <File Id="fil9E245C4B61E184F9BB2287A28934E1D4" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.OpenSsl.dll" />
            </Component>
            <Component Id="cmp0136E6693E0DF16DBA25B9082AEA0615" Guid="{8AE51FAA-1A37-4848-9F45-E7A7398B360D}">
                <File Id="fil25474CD58A18AB4C2CD00F08A6BC9775" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Primitives.dll" />
            </Component>
            <Component Id="cmp5A1F20CF9AD2DA0DF26622F317779E8C" Guid="{723D5434-9B28-4BEF-963F-AE42C012B354}">
                <File Id="fil442CB099348F299818A47DAF4107BAD6" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.X509Certificates.dll" />
            </Component>
            <Component Id="cmp82F2DB94B35989B5500883F0A3BD8505" Guid="{1F952857-6A33-4577-8DAF-F95483713616}">
                <File Id="filD2D8BE6ECEE6993CF4F1FF23EB2E93BB" KeyPath="yes" Source="$(var.BasePath)\System.Security.Principal.dll" />
            </Component>
            <Component Id="cmp98A131703008D3AC809721FE16EEAFF8" Guid="{408F060B-F01E-43BE-AE5A-6CCF4A23D975}">
                <File Id="fil50D3CD433FCD76F25C71E81C31B6DD3A" KeyPath="yes" Source="$(var.BasePath)\System.Security.Principal.Windows.dll" />
            </Component>
            <Component Id="cmp3111300711520E1E5FE2933E642DA29F" Guid="{1C672054-08C7-4F67-A9BD-F437DAA1DB97}">
                <File Id="fil1A0D25A762964F5C1F5E598DAE4D7F6C" KeyPath="yes" Source="$(var.BasePath)\System.Text.Encoding.CodePages.dll" />
            </Component>
            <Component Id="cmp06F6E0D21752727B7ACAD0B512A6023D" Guid="{B6C8A94F-1271-40D1-AD22-CA25E1F42302}">
                <File Id="fil701E2765A9E92F8724B2DE3CCDB46360" KeyPath="yes" Source="$(var.BasePath)\System.Text.Encoding.dll" />
            </Component>
            <Component Id="cmp3874A45D344B330AFBCC3A8F554FA9E4" Guid="{FD829360-AB66-4421-AD75-13E7665918AA}">
                <File Id="filCE8884160ED3E0EC381AFA6BE7E9D787" KeyPath="yes" Source="$(var.BasePath)\System.Text.Encoding.Extensions.dll" />
            </Component>
            <Component Id="cmp0B61CF5FB51B4607DDD38343361694DD" Guid="{C2C74ECA-CAFC-487C-8535-469B2A6344FC}">
                <File Id="filDF47AF6394D3BCA07F18B1B1DED956F6" KeyPath="yes" Source="$(var.BasePath)\System.Text.RegularExpressions.dll" />
            </Component>
            <Component Id="cmpC0197A786E74E0C6CC67B1F2BF47A69D" Guid="{162135CA-8FA3-4971-A36B-D5ECB61D184D}">
                <File Id="fil36048FD39C076898D35F88983802BDEF" KeyPath="yes" Source="$(var.BasePath)\System.Threading.dll" />
            </Component>
            <Component Id="cmp1847EF90CD4FF710D3FD7F535A04B4FF" Guid="{38E2D64A-1268-46B7-AEB2-9E3298BB6E73}">
                <File Id="filE727C34A4C970EEE21C677C885EC28B8" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Overlapped.dll" />
            </Component>
            <Component Id="cmp398D02F4C589AF2198F8B946CDE5C85B" Guid="{53A0D6A3-DF07-4A09-AFEC-6BC7EBFED943}">
                <File Id="filA3572DEFBE032CFD5E8C097BC94831CE" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Tasks.Dataflow.dll" />
            </Component>
            <Component Id="cmp174FEA916F072AFEF2DC68827B08C208" Guid="{7E4882B8-3B5B-4322-9EF0-8EB7B6107623}">
                <File Id="fil7F3C8D53605A91C20728F321E6100DC4" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmpB3AE432D48BF3A5AB43C6DAF12AB454A" Guid="{EF06BFE7-89C8-406B-AB2D-32A50D6B13F7}">
                <File Id="filF7CF33617C2B93F6EEF50C0DEB533B07" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmp9CBB1F7669BA2F45772EFFAF1C3C270D" Guid="{45A54835-9128-48AF-8854-C66EF1BA4BC1}">
                <File Id="filFDA046DB7FA1CA15A62337B4F259E5FF" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Tasks.Parallel.dll" />
            </Component>
            <Component Id="cmpFB7FE4390A8C062AD58E42F7C37E1CBA" Guid="{FC07C6F4-3CFA-4B46-9293-81CC59372539}">
                <File Id="filC3127284977EB9FDD14629243C84A2EE" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Thread.dll" />
            </Component>
            <Component Id="cmp152A2FECC9863B1FFDB0C5513DC288DD" Guid="{C0F11538-7984-40D2-916F-2ABFE7513E53}">
                <File Id="fil809F8EEF88425034C1A71DE3AD93D6A4" KeyPath="yes" Source="$(var.BasePath)\System.Threading.ThreadPool.dll" />
            </Component>
            <Component Id="cmp6677FF43E08DCC24B1D67EBAA25DABE0" Guid="{7FA1BFFD-FF7B-4452-9793-1DC74CED31E6}">
                <File Id="fil4E367B544B133435C24048994E32C006" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Timer.dll" />
            </Component>
            <Component Id="cmpD98009700F9DCCB585336348A2CEBE64" Guid="{76633585-3FDB-4130-925F-820C0116806B}">
                <File Id="fil59BFCC2292F134CBDC4AA4926AAAB976" KeyPath="yes" Source="$(var.BasePath)\System.Xml.ReaderWriter.dll" />
            </Component>
            <Component Id="cmp93CA91D57F6251A2235F591E2C255B14" Guid="{0971903C-76B8-4252-81A1-B1F3E0774DD3}">
                <File Id="filB8061B25037EA2CD370763F882C39C0A" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XDocument.dll" />
            </Component>
            <Component Id="cmp381A6662B7BE775E2AD4E35F205D99D1" Guid="{163E421F-EEE9-4886-831F-8D04FC966764}">
                <File Id="filFFB639F3D3E0F93F264FDFE3E81A5A62" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XmlDocument.dll" />
            </Component>
            <Component Id="cmp8B647EE9E403FBA68E5A3BA65BF324DF" Guid="{EA5170DB-3909-4A2F-B4E1-8D7AA6343F36}">
                <File Id="fil3D1A64312153AD0A9A7D324647F1DEFA" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XPath.dll" />
            </Component>
            <Component Id="cmp74AD17100EF04DA9E0B6DB1AFA6D8D5C" Guid="{ED58BDB8-31C5-4525-B134-0C8A4EE24F7D}">
                <File Id="filB19DBCF818AC2F26DEA82AF27E664FD3" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XPath.XDocument.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ClefTool_Project">
            <ComponentRef Id="cmp70638F91F4F35E813A90B25A26D26929" />
            <ComponentRef Id="cmpC8867EDC3F50D2FC9F4D26300AE82758" />
            <ComponentRef Id="cmpC1386E8707B9D95621DE8160997F07A9" />
            <ComponentRef Id="cmp4E239112FBCC33C3CAD5B1C2AC0CDED8" />
            <ComponentRef Id="cmp0E8F8DDC428D01962C25AC657AD6DF73" />
            <ComponentRef Id="cmp2E5EDA8D72F327AFF452AE2FE00CEA69" />
            <ComponentRef Id="cmp4FD0997C338542D825893A7B99BCB1EF" />
            <ComponentRef Id="cmp170DFF239B610B0ACA2229119DEA678E" />
            <ComponentRef Id="cmp1FAC008E6AA14459AD5390EB28F23EFE" />
            <ComponentRef Id="cmp251F3C643C5691E86A5D072E1A9CB4F7" />
            <ComponentRef Id="cmp4912FC7CACD4FEC1072A2E793CBA75DF" />
            <ComponentRef Id="cmpE08211C0C3557F7BA2754EFD53C95757" />
            <ComponentRef Id="cmpDC1F4F026BC618F3C7706525B3D1B174" />
            <ComponentRef Id="cmp5B5F7D490526C3CB3FF5E84E37B1F3EA" />
            <ComponentRef Id="cmp5DC61834042D8A563B1B0F5CEE7AD1E7" />
            <ComponentRef Id="cmpD51C7DCAA0760E3A269231CFA7A989BF" />
            <ComponentRef Id="cmp2257790539B8870843640B5857727F5B" />
            <ComponentRef Id="cmpD59A9DA5AB1588BFB3303C78F4AE7978" />
            <ComponentRef Id="cmp036A680CF94E7627338001F023402FC5" />
            <ComponentRef Id="cmpC721F41377E85E493F0DF0733B2DF311" />
            <ComponentRef Id="cmpB96729A5724A90B66C8B647AD4A828BD" />
            <ComponentRef Id="cmpC9CE6FD0F9E9DFB943DBB4F09D32F05A" />
            <ComponentRef Id="cmp4B6065E0A17CF05299642017B84D7228" />
            <ComponentRef Id="cmp31C9A362EFEB77E9A39782026B90E97C" />
            <ComponentRef Id="cmpC089979D7EDD0520871FCF59E4512F6A" />
            <ComponentRef Id="cmp3E4F3E4686A9B425B5812E5171CCDEEF" />
            <ComponentRef Id="cmpE35DDB3C925C83E74C7DAAE6FEA6C156" />
            <ComponentRef Id="cmpA5ABEAD31F33B1E5825EC6F159ABFB0F" />
            <ComponentRef Id="cmp5D6845991403E371A015DF7EBDF71F13" />
            <ComponentRef Id="cmp034C19296CB15C9E75585B5C7694FB81" />
            <ComponentRef Id="cmpF9CF939A2A6923752CD1F985F06B6D81" />
            <ComponentRef Id="cmp57B8361D25AD503DC733F4039E5A38B0" />
            <ComponentRef Id="cmpE3D9410289E9F7FB833911D3E408B041" />
            <ComponentRef Id="cmp0F4FB01D3F5DDA4FB3BEF239A8206721" />
            <ComponentRef Id="cmp5BF82A49794EF8CA80B3603A0E77FC35" />
            <ComponentRef Id="cmpA748C45814948C0E47F0962CF5A9E2C5" />
            <ComponentRef Id="cmp602E8F2B93FE6578A846F762EC68A1D9" />
            <ComponentRef Id="cmp3DA1940FB9C385E5772FD6B27D952566" />
            <ComponentRef Id="cmp969F6EDF2594F3809D7A716387BF8894" />
            <ComponentRef Id="cmp86FA15ED6758AB64222C7B872722AE2A" />
            <ComponentRef Id="cmp912EE5CA7F0C138422055A3D0C240C38" />
            <ComponentRef Id="cmp1A01EFD00F1DAF10CE06F8196357F24C" />
            <ComponentRef Id="cmp16EF400B22B4D8375CD56E7168F49BBB" />
            <ComponentRef Id="cmpE722E076AB8486E4A4F24B01268787A2" />
            <ComponentRef Id="cmp7E39F1A13DA5F3678F3102B85106204A" />
            <ComponentRef Id="cmpD23621427F9427EADECDFB75824E8F4E" />
            <ComponentRef Id="cmpB3E27F13800A8FF984F132723F98897C" />
            <ComponentRef Id="cmp167D1C5C6A974604FBBFEDD39E2FDF84" />
            <ComponentRef Id="cmp804ACD73DC5E4AF51ACF260299491EAE" />
            <ComponentRef Id="cmpA142100C3F0BB7810ABB24189CCE1D0D" />
            <ComponentRef Id="cmpF2CFC77F0487C42E6C597124620175D0" />
            <ComponentRef Id="cmp38992D30F99BD043E10383498A731822" />
            <ComponentRef Id="cmp2ECBD4EE80FB56B111EAB04A7922F75E" />
            <ComponentRef Id="cmpC8D343DED6ECA227B78780388C7AA77C" />
            <ComponentRef Id="cmpD40621D43FCB57C24FE91D5292CDCA60" />
            <ComponentRef Id="cmp06E205989506C503C7B11F6FE4B449C6" />
            <ComponentRef Id="cmp2BF489548413875B5E6C82837FCD954F" />
            <ComponentRef Id="cmpC96839737F0D0575D352C1AE13A73E26" />
            <ComponentRef Id="cmp43533F1C6D869598C6A682154C94696E" />
            <ComponentRef Id="cmp27E36B7C8DB5461A9579366D20E5DD16" />
            <ComponentRef Id="cmp5338A7F671CC8A6B5D8355578A8A889A" />
            <ComponentRef Id="cmpC0FA693A1C79F59FC93C10CFD37D42F2" />
            <ComponentRef Id="cmpE2761380A2AA89636D5B95A135451B7F" />
            <ComponentRef Id="cmp1C1E90C62AB1B0C4B75A0C8670A93BF5" />
            <ComponentRef Id="cmpA89B897A857FCF03B6B2373DF3AC3D44" />
            <ComponentRef Id="cmpBA5ABAFBBC1B2CC2232B3287ABE89965" />
            <ComponentRef Id="cmp8487DBCD10F6EA164525782F92DE4F4F" />
            <ComponentRef Id="cmp7F3C257977DAD545E41C24AEEBA5F3D7" />
            <ComponentRef Id="cmp1F98307E0E8546CD03283A275A109E29" />
            <ComponentRef Id="cmp661DE9832C6188B3A05455224EB65C4A" />
            <ComponentRef Id="cmp35FB771C91E6D09AC7AD31EA6BD82D48" />
            <ComponentRef Id="cmpBD3081A75FFFB18E0F831CA90BB02A51" />
            <ComponentRef Id="cmp89AE5ECEB789ECF60BE6CC568D60B2F9" />
            <ComponentRef Id="cmpF02258D9C1CDC79ADE6BED7D7E27B7F8" />
            <ComponentRef Id="cmp2DB01C2F4195AA81E62D885F63BE7641" />
            <ComponentRef Id="cmp08F6C131D7E7D6B4B3C1C34ACAB7D015" />
            <ComponentRef Id="cmp1BF66780B6F5DC544844F175D2217D45" />
            <ComponentRef Id="cmpD96EF0310A9F4CDC867A29C92627C66F" />
            <ComponentRef Id="cmpA232CC5CBB9F7FC0C83CBF6E9889AEA2" />
            <ComponentRef Id="cmpB04DC6BD037C409C2E1ACEF4893EF6E0" />
            <ComponentRef Id="cmp1BA496B8D1F481E17E4F9777D97E83A3" />
            <ComponentRef Id="cmpE704E6B7F4208E4FA240D82240CB87CB" />
            <ComponentRef Id="cmpBBE9705F8359FDCA711FD64D14D92D29" />
            <ComponentRef Id="cmp2FF83375B57E90E070D5274FE375C377" />
            <ComponentRef Id="cmp673F5FD19E1447A9E9517732D5099C50" />
            <ComponentRef Id="cmp3196328A6B461FCF95D6C3A5A44720F2" />
            <ComponentRef Id="cmp70FC17596CC6D6081664CEA3F1370618" />
            <ComponentRef Id="cmp0D6DF42F2B6440373438F26D08393D7E" />
            <ComponentRef Id="cmp5535623A0957F12A580F2E0AE9AB7F24" />
            <ComponentRef Id="cmp1F804D02F421408F7E20267C22EA6672" />
            <ComponentRef Id="cmpC9E0DEEB7CF98154C06B2056C911EFFB" />
            <ComponentRef Id="cmpDD067213D9C6C74C7DEE2A7AAB0FAEEC" />
            <ComponentRef Id="cmp11FDD7837E3686618A8029176A611E38" />
            <ComponentRef Id="cmp53E46EBF44AF21F42A968A1F1DDABABF" />
            <ComponentRef Id="cmpCCD6C0BE895B4EC8ED6FCEECB4A871C3" />
            <ComponentRef Id="cmp184FC0E5FAD15B9D8278A9A58F76ABE4" />
            <ComponentRef Id="cmpFF30060800C65B79967082C32327291C" />
            <ComponentRef Id="cmp57EA072774F603C6027C2714CBDD71F1" />
            <ComponentRef Id="cmp77638A88DFF018673C9539C4C63849F1" />
            <ComponentRef Id="cmp29603EF04B0BDD3AB6C82CAA97838E8B" />
            <ComponentRef Id="cmpA9787BFE4425DEDA95F9804E039493C7" />
            <ComponentRef Id="cmp0136E6693E0DF16DBA25B9082AEA0615" />
            <ComponentRef Id="cmp5A1F20CF9AD2DA0DF26622F317779E8C" />
            <ComponentRef Id="cmp82F2DB94B35989B5500883F0A3BD8505" />
            <ComponentRef Id="cmp98A131703008D3AC809721FE16EEAFF8" />
            <ComponentRef Id="cmp3111300711520E1E5FE2933E642DA29F" />
            <ComponentRef Id="cmp06F6E0D21752727B7ACAD0B512A6023D" />
            <ComponentRef Id="cmp3874A45D344B330AFBCC3A8F554FA9E4" />
            <ComponentRef Id="cmp0B61CF5FB51B4607DDD38343361694DD" />
            <ComponentRef Id="cmpC0197A786E74E0C6CC67B1F2BF47A69D" />
            <ComponentRef Id="cmp1847EF90CD4FF710D3FD7F535A04B4FF" />
            <ComponentRef Id="cmp398D02F4C589AF2198F8B946CDE5C85B" />
            <ComponentRef Id="cmp174FEA916F072AFEF2DC68827B08C208" />
            <ComponentRef Id="cmpB3AE432D48BF3A5AB43C6DAF12AB454A" />
            <ComponentRef Id="cmp9CBB1F7669BA2F45772EFFAF1C3C270D" />
            <ComponentRef Id="cmpFB7FE4390A8C062AD58E42F7C37E1CBA" />
            <ComponentRef Id="cmp152A2FECC9863B1FFDB0C5513DC288DD" />
            <ComponentRef Id="cmp6677FF43E08DCC24B1D67EBAA25DABE0" />
            <ComponentRef Id="cmpD98009700F9DCCB585336348A2CEBE64" />
            <ComponentRef Id="cmp93CA91D57F6251A2235F591E2C255B14" />
            <ComponentRef Id="cmp381A6662B7BE775E2AD4E35F205D99D1" />
            <ComponentRef Id="cmp8B647EE9E403FBA68E5A3BA65BF324DF" />
            <ComponentRef Id="cmp74AD17100EF04DA9E0B6DB1AFA6D8D5C" />
        </ComponentGroup>
    </Fragment>
</Wix>